<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

    <title>Stock Price Tracker</title>

    <!-- Retrieve jquery from links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename = 'script.js')}}"></script>


</head>

<body>

    <h1>Hello</h1>
    <form id="add-ticker-form">
        <input type="text" id="new-ticket" placeholder="Add Ticket" required>
        <button type="submit">Add</button>
    </form>

    <p id="timer">Next update in <span id="counter"></span> seconds.</p>
    <div id="tickers-grid"></div>


</body>

</html>